<div class="body">
    <div class="row">
        <div class="col-sm-8">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="padding-bottom: 15px">
                            <div class="card">
                                <div class="card-body">
                                    <a [routerLink]="['/traloicauhoi']"> <img class=""
                                            src="assets/images/logos/ADAV.jpg" alt="Android Nâng cao"
                                            class="mx-auto d-block"></a>
                                </div>
                                <div class="card-footer" style="text-align: center">
                                    Lập Trình Nâng Cao
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-bottom: 15px">
                            <div class="card">
                                <div class="card-body">
                                    <a [routerLink]="['/traloicauhoi']"> <img class=""
                                            src="assets/images/logos/PMAG.jpg" alt="Android Nâng cao"
                                            class="mx-auto d-block"></a>
                                </div>
                                <div class="card-footer" style="text-align: center">
                                    Thiết kế trang web
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <a [routerLink]="['/traloicauhoi']"> <img class=""
                                            src="assets/images/logos/DBBS.png" alt="Android Nâng cao"
                                            class="mx-auto d-block"></a>
                                </div>
                                <div class="card-footer" style="text-align: center">
                                    Cơ Sở Dữ Liệu
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <a [routerLink]="['/traloicauhoi']"> <img class=""
                                            src="assets/images/logos/DBAV.png" alt="Android Nâng cao"
                                            class="mx-auto d-block"></a>
                                </div>
                                <div class="card-footer" style="text-align: center">
                                    SQl Sever
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-sm-4">
            <aside>
                <div class="container">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Danh Mục Môn Học</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#"><a href="#">Lập trình Android nâng cao</a></a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Xây dựng trang web</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Cơ sở dữ liệu</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">SQL Sever</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Internet Makerting</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Lập trình hướng đối tượng Java</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Lập trình PHP</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Điện toán đám mây</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Lập trình Android cơ bản</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Lập trình game 2D</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Thiết kế giao diện web </a></td>
                            </tr>
                            <tr>
                                <td><a href="#">thiết kế web cho thiết bị di động</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Lập trình ASP.NET</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </aside>
        </div>
    </div>
</div>