<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
</head>
<div class="container-fluid">
    <h2 style="text-align: center">Những câu hỏi thường gặp</h2>
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-info">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title"> <a class="ing">Câu 1: Chất lượng của các khóa học online tại Online Training có
                        được đảm bảo hay không ?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Trả lời</span>
                    </h5>
                    <p>1. Nội dung các khóa học online được biên soạn theo các công nghệ thiết kế web mới nhất hiện nay
                        như: HTML5, CSS3, RWD, BOOTSTRAP, JQUERY, AJAX, PHP, MySQL, SEO vvv..do đó đảm bảo với bạn là
                        bạn đang học các công nghệ thiết kế web mới nhất, chất lượng với chi phí rẻ nhất.</p>
                    <p>2. Học thông qua các file bài giảng và các video clip bài giảng. Giao tiếp với giảng viên qua:
                        Chat, Email, Điện thoại, Skype, Teamviewer, hay hệ thống hỏi đáp trong bài học </p>
                    <p>3. Xem và nghe lại bài giảng nhiều lần cho đến khi hiểu rõ bài học.</p>
                    <p>4. Được hướng dẫn làm đồ án cuối khóa học.</p>
                    <p>5. Được hỗ trợ kỹ thuật chuyên môn lâu dài.</p>
                    <p>6. Được hỗ các công cụ thiết kế web có giá trị.</p>
                    <p>Các bạn có thể tham khảo đánh giá của các học viên đã trải nghiệm qua các khóa học Online của
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title"> <a class="ing">Câu 2: Tôi muốn học thử khóa học trước rồi mới đóng tiền có được
                        không ?</a>
                </h4>
            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Trả lời</span>
                    </h5>
                    <p>Được. Bạn có thể đăng ký học thử 01 tuần đến 03 tuần để làm quen với cách học và trải nghiệm thử
                        cách học trước khi bạn thấy thích để đăng ký học chính thức. Bạn cần đăng ký học thử theo các
                        bước ở mục
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title"> <a class="ing">Câu 3: Xin cho hỏi em có thể xem video bài học trên điện thoại
                        di động Android được không?</a>
                </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Trả lời</span>
                    </h5>
                    <p>Bạn có thể dùng điện thoại sử dụng hệ điều hành Android và cài đặt trình duyệt Firefox trên
                        Android để xem các Video bài học.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title"> <a class="ing">Câu 4: Trong quá trình học, vì một lý do nào đó tôi phải tạm
                        ngưng. Vậy tôi có thể xin bảo lưu khóa học được không ?</a>
                </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Trả lời</span>
                    </h5>
                    <p>Nếu bạn không thể tham gia khóa học tiếp được, bạn cần thông báo với giáo viên tới email
                        onlinetraining@gmail.com, khi đó Giáo Viên sẽ bảo lưu khóa học cho bạn. Khi bạn muốn học trở
                        lại, bạn cứ liên hệ đến email của giáo viên, giáo viên sẽ sắp xếp cho bạn học lại ngay. </p>
                </div>
            </div>
        </div>
    </div>
    <h3>Câu trả hỏi khác</h3>
    <textarea _ngcontent-uhd-c2="" cols="150" id="ContactForm1_contact-form-email-message" name="email-message" placeholder="Nội dung *" rows="5"></textarea>
</div>