.form-control{
    width: 100px;
}
.table{
    text-align: center;
    border: 5px solid  #d8d8d8;
}
button{
margin-left: 2%;
}
tr th{
    border: 5px solid  #d8d8d8;
}
tr td{
    border: 5px solid  #d8d8d8;
}