<p>card works!</p>
<div class="card-header">
    <p class="headeG"><b>Your Card</b></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quatity</th>
            <th scope="col">Action</th>
        </tr>
        <tr *ngFor='let p of lisproducts'>
            <td scope="col">{{p.productId}}</td>
            <td scope="col"><img src="/assets/images/{{p.imagesUrl}}" width="50"></td>
            <td scope="col">{{p.productName}}</td>
            <td scope="col">{{p.price}}</td>
            <td scope="col">
                {{p.soluong}}
                <!-- (click)='tang(p.Idcart)' gan su kien lick chon cho san pham-->
                <button (click)='tang(p.Idcart)' type="button" class="btn btn-success">+</button>
                <button (click)='giam(p.Idcart)' type="button" class="btn btn-danger">-</button></td>
            <td scope="col"><button type="button" class="btn btn-primary">View</button><button type="button"
                    class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th colspan="5">Tổng :</th>
            <!-- |number lay di 3 so thap phan vd 1.000 -->
            <th>{{sum()|number}} VNĐ</th>
        </tr>
    </thead>
</table>