.col-9{
    margin-top: 5%;
}
.menu-doc{
    background-color: black;
    color:#fff;
}
ul li{
    list-style: none;
    padding: 10px;
}
.menu-doc ul li:hover{
    background: blue;
    margin-right: 20%;
    
}
.bagach{
    width: 40px;
    height: 40px;
    margin-left: 80%;
    margin-top: 10px;
}
.fa-outdent{
    font-size: 30px;
}
.fa-user{
    font-size: 50px;
    margin-left: 40%;
}
b{
    font-size: 40px;
    margin-left: 30%;
}
.slhow{
    margin-bottom: 10px;
}
input{
border-radius: 15px;
border-radius: 15px 15px;
border-radius: 15px 15px 15px;
border-radius: 15px 15px 15px;
}
.btn-info{
    margin-right:8px;
}
.col-4{
    left:1%;
}
.col-8{
    margin-left:38%;
    margin-top: -4%;
}
.table{
    text-align: center;
}
td .fa{
    margin-left:10%;
}
.fa-search{
    position: absolute;
    margin-left: 4.5%;
    margin-top: 9px;
}
.table tr{
    margin-top: 50%;
}
.container{
    margin-left: 70%;
    margin-top: 7%;
}
.tab-trang{
    margin-top: 1%;
}
#add{
    margin-left: 2%;
}