<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="row">
            <!-- bên trái -->
            <div class="col-3">
                <div class="menu-doc">
                    <button class="bagach"><i class="fa fa-outdent"></i></button><br>
                    <div class="nguoidung"><i class="fa fa-user"></i><br><b>User</b></div>
                    <ul>
                        <li><i class="fa fa-home"></i> Home</li>
                        <li><i class="fa fa-users"></i> Employees</li>
                        <li><i class="fa fa-cloud"></i> Projects</li>
                        <li><i class="fa fa-edit"></i> skills</li>
                        <li><i class="fa fa-internet-explorer"></i> interrns</li>
                        <li><i class="fa fa-bookmark"></i> Topics</li>
                        <li><i class="fa fa-eraser"></i> Courses</li>
                        <li><i class="fa fa-bookmark"></i> Topics_Courses</li>
                        <li><i class="fa fa-paste"></i> Classes</li>
                    </ul>
                </div>
            </div>
            <!-- bên phải -->
            <div class="col-9">
                <div class="slhow">
                    <div class="row">
                        <div class="col-4">
                            Slhow: <input type="number" style="width:60px; text-align:center;"> emtries
                        </div>
                        <div class="col-8">
                            <button class="btn btn-info">Excel</button>
                            <button class="btn btn-info">PDF</button>
                            <i class="fa fa-search"></i>
                            <input type="text" style="text-align:center;" placeholder="seacrch">
                            <button id="add" class="btn btn-info">+ Add Employee</button>
                        </div>
                    </div>
                </div>
                <table class="table" cellspacing="0">
                    <!-- <thead> -->
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                        <tr>
                            <td scope="col">1</td>
                            <td scope="col">Tây</td>
                            <td scope="col">Minh</td>
                            <td scope="col">phanminhtay@gmail.com</td>
                            <td scope="col"><i class="fa fa-info"></i> <i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td scope="col">2</td>
                            <td scope="col">Tây</td>
                            <td scope="col">Minh</td>
                            <td scope="col">phanminhtay@gmail.com</td>
                            <td scope="col"><i class="fa fa-info"></i> <i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td scope="col">3</td>
                            <td scope="col">Tây</td>
                            <td scope="col">Minh</td>
                            <td scope="col">phanminhtay@gmail.com</td>
                            <td scope="col"><i class="fa fa-info"></i> <i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td scope="col">4</td>
                            <td scope="col">Tây</td>
                            <td scope="col">Minh</td>
                            <td scope="col">phanminhtay@gmail.com</td>
                            <td scope="col"><i class="fa fa-info"></i> <i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td scope="col">5</td>
                            <td scope="col">Tây</td>
                            <td scope="col">Minh</td>
                            <td scope="col">phanminhtay@gmail.com</td>
                            <td scope="col"><i class="fa fa-info"></i> <i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                        </tr>
                    <!-- </thead> -->
                </table>
                <div class="container">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="tab-trang"><a href="#">1</a></li>
                          <li class="tab-trang"><a href="#">2</a></li>
                          <li class="tab-trang"><a href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </div>
            </div>
        </div>
    </div>
</div>