<div class="card">
    <div class="card-header">
      <p class="headeG">Leaf Rake</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          Name :<br>
          Code :<br>
          Description :<br>
          <br>
          Availabillty :<br>
          Price :<br>
          5 Start Rating:<br>
        </div>
        <div class="col-4">
          Leaf Rake<br>
          GDN-0011<br>
          Leaf rake with 48-inch wooden <br>
          handle<br>
          March 19,2016<br>
          $19.95<br>
          3.2<br>
        </div>
        <div class="col-6">
          <div class="hinh"><img src="assets/images/choi.jpg" width="30%"></div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
        <i class="fa fa-arrow-circle-left" style="font-size:20px"></i>Back
    </div>
  </div>

