<div class="page panel panel-default box-shadow bg-lavender">
    <div class="panel-body">
        <h2 class="text-center margin-bottom-lg">Đăng ký thành viên</h2>
        <form>
            <div class="form-detail">
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="Họ và tên đệm">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control required input" placeholder="Tên">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="required form-control" placeholder="Tên đăng nhập"></div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="email" class="required form-control" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="password" autocomplete="off" class="password required form-control"
                            placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="password" autocomplete="off" class="re-password required form-control"
                            placeholder="Lặp lại mật khẩu">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <div>
                            <b>Giới tính</b>
                        </div>
                        <label class="radio-box"> <input type="radio" name="gender" value="N" class="input"> N/A
                        </label>
                        <label class="radio-box"> <input type="radio" name="gender" value="M" class="input"
                                checked="checked"> Nam </label>
                        <label class="radio-box"> <input type="radio" name="gender" value="F" class="input"> Nữ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="ngày tháng năm sinh">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="Địa chỉ">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="MSSV">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="Tên lớp học">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control  input" placeholder="Số điện thoại">
                    </div>
                </div>
                <div class="text-center margin-bottom-lg">
                        <label class="radio-box"> <input type="radio" name="gender" value="M" class="input"
                            checked="checked"> Tôi đồng ý với mọi điều khoảng trên</label><br>
                    <input type="button" class="btn btn-primary" value="Tiến hành đăng ký">
                </div>
            </div>
        </form>
    </div>
</div>