<div class="card">
    <div class="card-header">
        <p class="headeG">List Product</p>
    </div>
    <div class="row">
        <div class="col-3">
            Filter by:
            <h1>Filtered by:</h1>
        </div>
        <div class="col-2">
            <input type="text" class="form-control" style="width:250px">
        </div>
        <div class="col-12">
            <table class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col" style="width: 258px;"><button class="btn btn-info" (click)='anhien()'>Hien image</button></th>
                        <th scope="col">Product</th>
                        <th scope="col">Code</th>
                        <th scope="col">Available</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                    <tr *ngFor='let p of listproduct'>
                        <td scope="col"><img  *ngIf='isShow' src="/assets/images/{{p.imageUrl}}" width="100px" height="50px"
                                style="margin-left: 30px"></td>
                        <td scope="col">{{p.productId}}</td>
                        <td scope="col">{{p.productName}}</td>
                        <td scope="col">{{p.productCode}}</td>
                        <td scope="col">{{p.releaseDate}}</td>
                        <td scope="col"><app-rating></app-rating></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>