.form-control{
    width: 100px;
}
.col-3{
    margin-left: 50px;
}
.btn-info{
    margin-left:25px;
}
.row{
    margin: 0 auto;
}
.col-2{
    margin-top: 10px;
}
.col-3{
    margin-top: 10px;
}
table{
    text-align: center;
}