<div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <ul>
                    <a href="#" style="color: sandybrown; text-decoration: none;">Links</a>
                    <ul style="list-style: none; margin-left: -15%;">
                        <li><u><a href="#">View Cart</a></u></li>
                        <li><u><a href="#">Login/Register</a></u></li>
                        <li><u><a href="#">Home</a></u></li>
                    </ul>
                </ul>
            </nav>
            <nav class="nav flex-column">
                <ul>
                    <a href="#" style="color: sandybrown; text-decoration: none;">Categories</a>
                    <ul style="list-style: none; margin-left: -15%;">
                        <li><u><a href="#">Guitars</a></u></li>
                        <li><u><a href="#">Basses</a></u></li>
                        <li><u><a href="#">Drums</a></u></li>
                    </ul>
                </ul>
            </nav>
            <nav class="nav flex-column">
                <ul>
                    <a href="#" style="color: sandybrown; text-decoration: none;">Temp Link</a>
                    <ul style="list-style: none; margin-left: -15%;">
                        <li><u><a href="#">Admin</a></u></li>
                    </ul>
                </ul>
            </nav>
        </div>
        <div class="col-9">
            <div class="thongtin">
                <li class="mauchu" style="font-size: 30px;">Your Order</li>
                <li>Order Number:4</li>
                <li>Order Date:Oct 9,2010</li>
                <li class="mauchu">Shipping</li>
                <li>Ship Date: Not shipped yet</li>
                <li>123 Any Place Road</li>
                <li>Somewhere,CA 93722</li>
                <li>5551112222</li>
                <li class="mauchu">Billing</li>
                <li>Card Number:...4444</li>
                <li>123 Any Place Road</li>
                <li>Somewhere, CA 93722</li>
                <li>5551112222</li>
                <li class="mauchu">Order Items</li>
            </div>
            <div class="donhang">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: left;">Item</th>
                            <th scope="col">List Price</th>
                            <th scope="col">Savings</th>
                            <th scope="col">Your Cost</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Line Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of guitars'>
                            <td style="text-align: left;"><a href="">{{item.productname}}</a></td>
                            <td>{{item.price | number}}$ </td>
                            <td>{{item.discount}}</td>
                            <td>$ </td>
                            <td>1</td>
                            <td>$ </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal:</td>
                            <td>$ </td>
                        </tr>
                        <tr class="blockboder">
                            <td style="text-align: left;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>CA Tax:</td>
                            <td>$ </td>
                        </tr>
                        <tr class="blockboder">
                            <td style="text-align: left;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td>$ </td>
                        </tr>
                        <tr class="blockboder">
                            <td style="text-align: left;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>$ </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>