.chuyentrang button {
    margin: 1%;
    background-color: rgb(128, 16, 35);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .chuyentrang button:hover {
    background-color: rgb(15, 74, 250);
  }
  .chuyentrang{
      margin-left: 38%;
      margin-top: -8%;
  }
  /* footer */

  .list-unstyled {
    background: #00838f;
    text-align: center;
    font-size: 50px;
    padding: 4%;
    height: 150px;
  }

  .footer-copyright {
    background-color: #006972;
    color: #fffafb;
    margin-top: -2%;
  }
  /* .page-footer{
    margin-top: 7%;
  } */